<h1> Regulamin 2019 </h1>


<ol>
<li> Cel zawod贸w.
  <br/>
  Zawody zostay stworzone w celu promocji chodzenia po g贸rach, odkrywaniu nowych miejsc i czerpania przyjemnoci z trasy.  Wyzwanie dla ka偶dego,  czy ma 偶elazn kondycj czy woli rozkoszowa si spacerem i robi zdjcia na trasie. Dla wyjadaczy i amator贸w, dla student贸w i rodzin z dziemi. Ka偶dy jest mile widziany, ka偶dy mo偶e wzi udzia i mamy nadziej, 偶e dobrze si bawi
</li>
<li> Organizator. <b>Irracjonalnie Maszerujcy</b> w osobach
  <ol type="a">
    <li>Stanisaw Zawadzki, </li>
    <li>ukasz Butkiewicz, </li>
  </ol>
<li> Miejsce i data zawod贸w
  <ol type="a">
  <li> Kr偶ownik nie ma staego miejsca startu.  Co roku impreza bdzie zaczyna w innym miejscu,  tak by uczestnicy mogli pozna nowe miejsca i nowe trasy.  Miasto startu zawsze bdzie speniao dwa kryteria -  by w miar dobry dojazd z r贸偶nych miejsc Polski i przynajmniej dwa szlaki w g贸ry.</li>
  <li> Edycja 2019 odbdzie si w <b>Jeleniej G贸rze i okolicach. Start i meta bd znajdowa przy kampingu Park na ulicy Sudeckiej 42a.</b> Miasta przemyslane na kolejne edycje: Wabrzych,  Duszniki Zdr贸j,  Wisa,  Wgierska Gorka,  Nowy Targ,   Szczawnica Zdr贸j,  Krynica Zdr贸j, inne. kolejno oczywicie jeszcze nieustalona :)</li>
  <li> Termin  08.06-09.06 w godzinach od okoo 10:00 w sobot do 18:00 w niedziel (w przypadku op贸藕nienia startu przesuniemy te偶 odpowiednio limit) - cznie 32h</li>
  <li> Godzina startu powinna by skorelowana z dojazdem komunikacji z jakiego wikszego miasta (w przypadku Jeleniej G贸ry bdzie to Wrocaw). Wic w przypadku innych miast mo偶e to by inna godzina</li>
  <li> Po zawodach dla chtnych bdzie mo偶liwy nocleg. Dla chtnych i wytrzymaych planowana jest impreza </li>
  </ol>
</li>
<li> Trasa zawod贸w
  <ol type="a">
  <li><b>Nie ma 偶adnej oficjalnej trasy. Ka偶dy uczestnik sam wybiera kt贸rdy i dokd idzie,  kiedy i na ile robi przerwy.</b>  Jedynymi pewnymi punktami trasy jest start i meta oraz czas jaki mo偶na na tras przeznaczy.</li>
  <li>Trasa uczestnik贸w bdzie weryfikowana na podstawie pomiar贸w GPS, lub podawana przez u偶ytkownik贸w i weryfikowana zdjciami lub przez innych uczestnik贸w</li>
  <li>Zaleca si poruszanie po wyznaczonych szlakach turystycznych, szczeg贸lnie w przypadku braku rejestratora GPS</li>
  <li>O wyniku kocowym decyduj nie kilometry, lecz punkty.O punktach wicej w dalszych punktach regulaminu</li>
  <li><b>Na starcie lub zakoczeniu imprezy uczestnik mo偶e jeden raz skorzysta z komunikacji zbiorowej.</b> Czyli np. wsi w autobus do Karpacza i swoj przygod zacz tam. Kilometry przebyte oczywicie si w贸wczas nie licz. Dziki temu uczestnik ma wiksz swobod w doborze trasy, a jednoczenie w przypadku niespodziewanego kryzysu mo偶e lepiej dostosowa sw贸j plan. Oczywicie uczestnik nie musi skorzysta z tej opcji. Koszt przejazdu pokrywany jest przez uczestnika. Trasy dojcia z dworca PKP/PKS na met nie wliczamy do trasy</li>
  <li>Z Jeleniej G贸ry mo偶na wyj trzema trasami -  na p贸nocny zach贸d w stron malowniczej Doliny Bobru i schroniska Pera Zachodu,  na wsch贸d w kierunku Rudaw Janowickich w kierunku Sokolik贸w i na poudnie do Karkonoszy.</li>
</ol>
</li>
<li>Uczestnictwo
  <ol type="a">
  <li> <b>Uczestnik startuje na wasn odpowiedzialno. Uczestnicy mlodsi ni偶 18 lat startuj na odpowiedzialno rodzic贸w i ca imprez musz by pod opiek osoby dorosej.</b></li>
  <li> Limit w edycji 2019 wynosi 40 os贸b.</li>
  <li> Zapisy kocz sie na tydzie przed zawodami. No gora trzy dni  Ale serio, na miejscu nie dopiszemy, dajcie zna chocia偶 dzie wczeniej. Nie jest to oficjalna impreza, wic nikogo nie pogonimy, ale dla spokoju organizacyjnego lepiej bymy mieli list uczestnik贸w wczeniej.</li>
  <li> Jeli musisz zrezygnowa z wyjcia, te偶 nas poinformuj jak najszybciej. W przypadku nie stawienia si na starcie o czasie, mo偶esz zacz p贸藕niej, ale po uprzednim powiadomieniu telefonicznym organizator贸w</li>
  <li> Dojazd na imprez i noclegi przed i po s w gestii uczestnik贸w.  Organizator mo偶e pom贸c, ale nie jest do tego zobligowany. </li>
  <li> Nie ma pakietow startowych, punkt贸w 偶ywieniowych, biletow do KPNu - wszystko zaatwi trzeba samemu. Chtnie udzielimy porad i informacji</li>
  </ol></li>

<li> Obowizki i prawa organizatora
  <ol type="a">

  <li> Organizator mo偶e nieznacznie zmieni godziny i miejsce startu i mety w zale偶noci od czynnik贸w losowych</li>
  <li> Organizator mo偶e w ka偶dej chwili zadzwoni do uczestnika, jeli 贸w poda mu sw贸j numer telefonu, by dowiedzie si na temat miejsca, formy i stanu zawodnika. Dziaa to w drug stron - zawsze mo偶na zadzwoni do kt贸rego z organizator贸w w istotnych kwestiach.</li>
  </ol></li>
<li> Obowizki i prawa uczestnika
  <ol type="a">

  <li> <b>Uczestnik zobowizuje si przestrzega wszelkich praw i przepis贸w dotyczcych chodzenia po g贸rach, po lasach i terenach prywatnych.</b> Impreza jest nieoficjalna, czyli nie mamy 偶adnych dodatkowych praw jakich nie maj osoby indywidualne wdrujce po g贸rach.</li>
  <li> Uczestnik we wasnym zakresie organizuje posiki,  odpoczynki, ewentualne noclegi, sprzt. Dopuszczalna jest pomoc os贸b z zewntrz oraz korzystanie ze sklep贸w,  restauracji, schronisk.</li>
  <li> Zdecydowanie zalecane jest posiadania <b>dzialajacego i dzwoniacego telefonu</b> oraz zameldowania, jeli nie pojawi si na mecie. Podanie tego numeru jest r贸wnie偶 zalecane aby m贸c zapewni bezpieczestwo uczestnik贸w</li>
  <li> <b>W przypadku jakichkolwiek kontuzji i sytuacji zagro偶enia zdrowia lub 偶ycia nale偶y poinformowa odpowiednie su偶by (GOPR,  pogotowie) oraz organizatora.</b> W razie kontuzji nie zagra偶ajcych zdrowiu najpierw dzwoni do organizator贸w.</li>
  <li> Ubezpieczenia zawodnicy organizuj na wasn rk, jeli uznaj to za konieczne</li>
  <li> Uczestnik musi korzysta z wlasnych map. Urzdzenia GPS s dozwolone. Przed zawodami zamiecimy orientacyjna mape z punkami bonusowymi</li>
  <li> Uczestnik ma  obowizek  dotrze na met do dw贸ch godzin po zakoczeniu limitu lub powiadomic organizatora o rezygnacji lub powodzie op贸藕nienia.</li>
  <li> Uczestnicy mog i samotnie i w grupach, mniej dowiadczonym polecamy unikanie trasy noc samemu, ale te偶 zachcamy, by ka偶dy cho kawaek przeszed samotnie lub zmienia ekip z kt贸r idzie.</li>
  <li> Str贸j nale偶y dobra wg wasnych preferencji,  zalecamy i co ciepego na noc i co przeciwdeszczowego, a tak偶e co przeciwsonecznego na dzie.</li>
  <li> Sprzt zdecydowanie sugerowany:
    <ul type="disc">
    <li> Dow贸d osobisty lub paszport - szczeg贸lnie jeli planuje si zahaczenie do Czech</li>
    <li> Telefon</li>
    <ul type="square">
      <li> Naadowany</li>
      <li> Aktywny</li>
      <li> Z zainstalowanymi aplikacjami meteo, mapa-turystyczna, e-podroznik i Ratunek</li>
    </ul>
    <li> latarka z zapasem baterii na jedn noc - nawet jeli planowany jest nocleg</li>
    <li> Apteczka. Polecana zawarto</li>
    <ul type="square">
      <li> Plastry,  banda偶e,  opaski elastyczne</li>
      <li> rodki przeciwb贸lowe, przeciw zatruciom, nospa</li>
      <li> Octenisept</li>
      <li> Filtr przeciwsoneczny w przypadku sonecznej pogody</li>
    </ul>
    <li> Pojemnik na wod o pojemnoci min. 1 litr</li>
    <li> Minimum 50zl w got贸wce</li>
    <li> Polecamy wzi adowark do telefonu lub/i powerbank</li>
  </ul></li>
</ol></li>
<li> <b>Punktacja i wyniki</b>
  <ol type="a">
  <li> <b>Punkty dodatnie sportowe</b> (zaokrglone do najbli偶szej wartoci, weryfikowane po zawodach)
    <ul type="square">
      <li> Za ka偶dy km po szlaku turystycznym (pieszym) 1 punkt</li>
      <li> Za kazde 100m podejscia -  0,75 pkt</li>
      <li> Za przejcie przez miejsca punktowane -  X punkt贸w  (wytumaczenie dalej)</li>
    </ul>
  <li> <b>Punkty dodatnie bonusowe</b>
    <ul type="square">
      <li> Za ka偶d godzin noclegu w schronisku - 3 punkty, maksymalnie 20 punkt贸w (zachta dla mniej dowiadczonych piechur贸w, by zrobili sobie normaln nocn przerw, ale te偶 by nie trwaa ona zbyt dugo.)</li>
      <li> Za tras wraz z dzieckiem poni偶ej 15 roku 偶ycia - przelicznik 1.25 za ka偶dy kilometr i przewy偶szenie</li>
    </ul>
  <li> <b>Punkty dodatnie "artystyczne" - tutaj decyduje jury organizator贸w</b>
    <ul type="square">
    <li> Za podjcie i zakoczenie sukcesem dodatkowego wyzwania losowanego na starcie - do 10 punkt贸w
    <li> Za najlepszy wyb贸r trasy (w sensie najciekaszej krajoznawczo) - trzy nagrody 10, 7, 5 punktow
    <li> Za najlepsze zdjcie - kategoria panorama - 7, 5, 3 punkty
    <li> Za najlepsze zdjcie w innych kategoriach - 5, 3, 1 punkt. Kategorie nastpujce:
    <ul type="disc">
      <li> Flora i fauna</li>
      <li> Skay i potoki</li>
      <li> Uczestnik na punkcie bonusowym</li>
      <li> Domy i schroniska</li>
      <li> Historia</li>
      </ul>
    <li> Jedna osoba mo偶e zdoby najwy偶ej jedn nagrod w danej kategorii</li>
    <li> Zdjcie musi by zrobione podczas Kr偶ownika, niedopuszczalne jest u偶ycie zdj archiwalnych</li>
    <li> Jedno zdjcie mo偶e by zgoszone w maksymalnie dw贸ch kategoriach, ale w obu mo偶e zdoby punkty</li>
    </ul>
  <li> <b>Punkty ujemne</b>
    <ul type="square">
      <li> Za ka偶de 10 minut sp贸藕nienia na met - -1pkt</li>
    </ul>
  <li> W przypadku trasy poza szlakami wtpliwoci bd rozstrzygane na niekorzy uczestnika (np.  Kwestia przewyzszenia na odcinku)
  <li> Trasa bdzie weryfikowana i podliczana z u偶yciem aplikacji mapa-turystyczna. Jeli nie masz GPSa albo track bdzie niekompletny, zaprezentuj tras stworzon na tym portalu. W takim przypadku powiniene te偶 wysa jakie zdjcia uwiarygadniajce Tw贸j wyb贸r trasy i godziny noclegu. Jeli trasa biega poza szlakiem, opisz w mailu kt贸rdy
  </ol>
<li> <b>Miejsca punktowane</b>
  <ol type="a">
  <li> Przed zawodami wytypowanych jest okoo 40 punkt贸w za zdobycie kt贸rych otrzymuje si dodatkowe punkty</li>
  <li> Warto punktowa miejsc bdzie czciowo zalezna od oddalenia od startu, czciowo losowana i opublikowana na godzin przed startem. Warto punktowa bdzie od 3 do 10 punkt贸w</li>
  <li> Bdzie wybranych kilka punkt贸w "hardcore" - bardzo oddalonych od startu, wartych zawsze 12 punkt贸w</li>
  <li> Punkty bd wybierane wr贸d ciekawych, acz nie bardzo popularnych miejsc. Wszystko po to, by uczestnicy odkryli miejsca wczeniej im nieznane</li>
  <li> Punkty oraz ich rozmieszczenie na mapie zostanie podane najp贸藕niej 3 miesice przed zawodami.</li>
  <li> Za bycie jedynym uczestnikiem, kt贸ry by w danym punkcie otrzymuje si dodatkowe 5 punkt贸w</li>
</ol></li>
<li> <b>Postanowienia koc贸we</b>
  <ol type="a">
  <li> <b>Zawody odbd si niezale偶nie od warunk贸w pogodowych</b></li>
  <li> Regulamin mo偶e ulec zmianie do dnia 31.05.2019</li>
  <li> Interpretacja regulaminu nale偶y do organizatora</li>
  <li> Organizator mo偶e startowa w zawodach, ale nie bdzie liczony do oficjalnej punktacji</li>
  <li> Wyniki zostan ogoszone w cigu miesica od zakoczenia zawod贸w</li>
  <li> Nale偶y bezwzgldnie przestrzega regulaminu KPNu (czyli nie chodzimy noc po parku - to jest w kocu park narodowy), zasad zachowania w lesie,  zakazu smiecenia i glosnego zachowania. Ogniska mo偶na pali tylko w wyznaczonych ku temu miejscach i przy zachowaniu penej ostro偶noci</li>
  <li> Nale偶y bezwzgldnie przestrzega regulaminu czeskiego opowiednika KPN </li>
  <li> Wszystkie zdjcia wysane orgaznizatorom mog by przez nich u偶yte w celach niekomercyjnych na stronie i w materiaach promocyjnych</li>
  <li> Dla zwycizcy przeznaczona jest nagroda o wartoci symbolicznej. Przewidziane te偶 s inne nagrody dla uczestnik贸w.</li>
  <li> Z ka偶dej edycji planujemy stworzy fotoalbum z wybranymi zdjcami </li>
  </ol>
</ol>

<h5> Warszawa, 2019</h5>
