<h1>Krażownik 2019</h1>
<br/>

Zapraszam na imprezę górską w której możesz przejść <p style="font-size: 1.3em; text-decoration: underline; display: inline;">90 km w Karkonoszach</p>. Niezależnie od tego czy będzie świeciło słońce, wiał mocny wiatr czy padał deszcz, będziesz mógł przejść całe  <p style="font-size: 1.3em; text-decoration: underline; display: inline;">60 km w Rudawach Janowickich</p>. Chyba że jednak nie będziesz miał na to ochoty, a będziesz chciał przejść <p style="font-size: 1.3em; text-decoration: underline; display: inline;">45 km w Górach Kaczawskich</p> i porządnie się po drodze wyspać. Albo możesz pokazać że jesteś prawdziwym twardzielem, iść bez przerwy i zrobić <p style="font-size: 1.3em; text-decoration: underline; display: inline;">120 km w Izerach i Karkonoszach</p>. Albo nie, niczego nie musisz. Możesz siedzieć nawet cały weekend na starcie i pić piwo :)

<br/><br/>

<%= image_tag('kraz_1_tiny.jpg') %>

<br/><br/>

<p>
Krążownik jest imprezą bez ustalonej trasy. Bez sędziów, punktów kontrolnych, limitów czasowych. Niemalże. Jedyne co uczestnika ogranicza to start i meta, oraz czas na całość imprezy. Jak sobie uczestnik ten czas rozłoży, jaką trasą pójdzie - to zależy tylko i wyłacznie od jego woli
</p>
<p>
Krążownik jest dla ludzi. Bez numerów startowych, pomiarów czasu. Bez wielkiej rywalizacji, chyba że kogoś właśnie to kręci. Z imprezą na mecie, z ludźmi znającymi siebie po imieniu. Dlatego nie ma publicznych zapisów - chcesz wziąć udział, napisz na mój adres mailowy st.zawadzki@gmail.com i napisz, dlaczego chcesz wziąć udział w imprezie.
</p>

<p>
  Krążownik co roku będzie startował w innym miejscu. Byśmy pokrążyli w coraz to nowych miejscach. Edycja 2019 odbędzie się z Jeleniej Góry.
</p>
