<h1> Kotlina Jeleniogórska </h1>

Otoczona pasmami górskimi kotlina jest pełna wspaniałej przyrody i historycznych pozostałości. Można skupić się na zdobywaniu najwyższych gór, można też zwiedzać to, co pozostało z bogatej historii regionu. Można wyskoczyć na czeskie piwo, można zobaczyć skałki wspinaczkowe, można zwiedzić drugą największą polską tamę i zobaczyć czy Jędrek dalej siedzi na zamku Chojnik.
<br/>

<%= image_tag('sniezka.jpg') %>
