<%# navigation styled for Bootstrap 4.0 %>
<div class="container">
  <nav class="navbar navbar-dark bg-dark">
    <div class="navbar-toggleable-xs" id="exCollapsingNavbar2">
       <%= render 'layouts/navigation_links' %>
    </div>
  </nav>
</div>
